body {
    background-color: #212121;
    color: white;
    font-family: 'Nanum Gothic Coding', 'Segoe ui', Ubuntu, sans-serif;
}

h1 {
    font-family: 'IBM Plex Sans', 'Segoe ui', Ubuntu, sans-serif;
    transition: .2s;
    font-size: 7vw;
    display: inline-block;
}

.contentBox {
    transition: .3s;
    padding: 2vw;
    right: 2vw;
    top: 2vw;
    position: absolute;
    width: 45%;
    align-items: center;
    justify-content: center;
    border: 15px solid rgb(172, 172, 172);
    background-color: white;
    color: black;
}

.header img {
    transition: .1s ease-in-out;
    float: left;
    margin-right: 10px;
    height: 8vw;
}

.header:hover img {
    transform: translateY(-4px)
}

.header {
    transition: .2s;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.contentBox:hover {
    transform: translate(-5px, -5px);
    border-image-source: linear-gradient(45deg, rgb(94, 121, 196), rgb(145, 68, 76));
    border-image-slice: 1;
    box-shadow: 5px 5px rgb(65, 60, 99);
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}

a:before {
    transition: .2s;
    content: '';
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 3vw;
    z-index: -1;
    background-color: rgb(65, 60, 99);
    transform: rotate(45deg);
}

.navList li:hover a:before {
    transform: rotate(90deg);
    transform: translateX(15vw);
    background-color: #c24e4e;
}

.navList {
    width: 30%;
    display: block;
    list-style: none;
}

.navList li {
    margin: 2vw;
    display: block;
}

.contentBox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17vw;
}